@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Droid Sans'), local('DroidSans'), url('http://themes.googleusercontent.com/font?kit=s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0') format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('http://themes.googleusercontent.com/font?kit=EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM') format('woff');
}
.ul-reset,
.ul-reset li{background:none;border:none;clear:none;list-style:none;list-style-image:none;margin:0;overflow:visible;padding:0;position:relative}
div.header{background-position:0 center;font-size:18px}
div#element-box div.m *{font-family:'Droid Sans', Tahoma;line-height:1.4}
div#element-box div.m button,
div#element-box div.m .button{border:1px solid #bbb;border-bottom:1px solid #999;border-right:1px solid #999;color:#555;cursor:pointer;font-size:11px;padding:3px 7px 2px;display:inline-block;
    -webkit-border-radius:11px;-moz-border-radius:11px;border-radius:11px;
    -webkit-box-shadow: 0px 1px 1px #ddd;
    -moz-box-shadow: 0px 1px 1px #ddd;
    box-shadow: 0px 1px 1px #ddd;
    background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#dddddd));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 )}
div#element-box div.m button:hover,
div#element-box div.m button:focus,
div#element-box div.m .button:hover,
div#element-box div.m .button:focus{border:1px solid #999;outline:0 !important;text-decoration:none}
div#element-box div.m button+.button{margin-left:5px}
div#element-box div.m table.admintable td.key,
div#element-box div.m table.admintable td.paramlist_key{font-weight:100;color:#555}

table.toolbar td,
div.header{font-family:'Droid Sans'}
body #submenu-box,
body div#submenu-box div.t,
body div#submenu-box div.t div.t,
body div#submenu-box div.t div.t div.t,
body div#submenu-box div.b,
body div#submenu-box div.b div.b,
body div#submenu-box div.b div.b div.b {
	background: transparent;
	margin: 0;
}

body #submenu-box div.m {
	border: 0;
	background: none;
}


div#toolbar-box div.m{
	position: relative !important;
}

body #submenu li a,
body #submenu span.nolink {
	border: 0;
}

body div#submenu-box {
	margin: 15px 10px 0;
}

body div#submenu-box div.b,
body div#submenu-box div.t {
	display: none;
}

body #submenu li {
	margin-right: 3px;
	margin-bottom: -1px;
}

body #submenu li a,
body #submenu li a span {
	background: transparent url(../images/toolbar-buttons.png) no-repeat 0 -40px;
	border-bottom: solid 1px #ccc;
	display: block;
	height: 30px;
    font:100 11px/30px 'Droid Sans', Tahoma;
}

body #submenu li a.goback,
body #submenu li #home {
	background-position: 0 -120px;
}
body #submenu li a.goback span,
body #submenu li #home span {
	background-position: 100% -120px;
	color: #900;
}

body #submenu li a span {
	background-position: 100% -40px;
	color: #777;
	display: block;
	margin: 0 -15px 0 0;
	padding: 0 12px 0 0;
	text-shadow: 0 1px 1px #fff;
}


body #submenu li a.active {
	background: transparent url(../images/toolbar-buttons.png) no-repeat 0 -40px;
	background-position: top left;
	border-bottom: solid 1px #fff;
	margin-bottom: -1px;
}
body #submenu li a.active span {
	background-position: top right; 
	border-bottom: solid 1px #fff;
}

body #submenu li a {
	padding: 0 0 0 12px;
	margin: 0 15px 0 0;
}


body #submenu li a:hover {
 	background: transparent url(../images/toolbar-buttons.png) no-repeat 0 -40px;
	background-position: top left;
	text-decoration: none;
}

body #submenu li a:hover span {
	color: #555;
	background-position: top right;
	text-decoration: none;
}


body #submenu a.active, 
body #submenu span.nolink.active {
	text-decoration: none;
}

body #submenu li a.active span {
	color: #333;font-size:13px;
	text-decoration: none;
}

body table.noshow {
    width: 100%;
}

body table.admintable td.key, 
body table.admintable td.paramlist_key {
	width: 250px !important;
	vertical-align: middle;
}

body table.admintable td.key span, 
body table.admintable td.paramlist_key span {
	float: right;
}

body fieldset.adminform {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 20px;
	margin-bottom: 25px;
}
	
	body fieldset.adminform legend {
		font-size: 14px;
		padding: 0 5px;
	}
	
body .admintable {
	width: 100%;
}

body .admintable .inputbox:focus {
	border: solid 1px #777;
}
body #settingsForm .admintable td{padding:4px}
body #settingsForm .admintable td.key,
body #settingsForm .admintable td.paramlist_key { background: transparent !important; }
#blogForm .admintable td.paramlist_value,
table.paramstable td.paramlist_value{ background: #fff !important; }
.tr-odd { background: #f9f9f9; }
.extra_text { height: 20px; line-height: 21px; margin-left: 5px; }

fieldset input, fieldset textarea, fieldset select, fieldset img, fieldset button {
	float:none !important;
}

body #page-social dt{
	padding: 8px !important;
}

div.pagetitle {
	display: block !important;
}

div.pagetitle h2 {
	position: absolute;
	top: 12px;
}

fieldset.adminform label,
table.admintable label { min-width: 0 !important; padding: 0 !important; clear: none !important;}
div#element-box{ background-color: #fff !important; }
div#element-box div.m{ background-color: #fff !important; }
div.current fieldset{ border: 1px solid #ccc !important; }
table .inputbox{ margin-left: 5px;}
table input[type="radio"],
table input[type="radio"] + label{float:none !important;display:inline-block}
table label + input[type="radio"]{margin-left:10px}
#settingsForm table.admintable td.key{ border: 0 !important; }

*:first-child+html body #submenu-box {margin:0}